docker-compose.y*
Pipfile*
Dockerfile*
PHPsaveDBaseTXT
deployACS.yaml
tests
versionAsyncQuiMarchePas
.git*
.docker*


.env
.vscode/
.DS_Store

flask_session/
instance/
*.wsgi
manu_dede/static/downloads/
PHPsaveDBasTXT/*.txt

# Modèle
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
