docker-compose.y*
Pipfile*
Dockerfile*
PHPsaveDBaseTXT
deployACS.yaml
tests
versionAsyncQuiMarchePas
.git*
.docker*
.*


.env
.vscode/
.DS_Store

flask_session/
instance/downloads/*
manu_dede/static/downloads/*
make-*
secret.env
manu-dede_sans-bdd.t*
# l'image en fichier archive: 
# docker save manu-dede:sans-bdd | xz -9 - > manu-dede_sans-bdd.txz

*.wsgi
manu_dede/static/downloads/
PHPsaveDBasTXT/*.txt

# Modèle
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
